
#main {
    height: 100%;
    display: grid;
    grid-template-rows: 75px 1fr;
}

#header-top {
    display: grid;
    grid-template-columns: 75px 1fr;
}

#username {
    margin-right: 20px;
    height: 10px;
}

#user-info {
    display: flex;
    justify-content: end;
}

#user-content {
    height: 20px;
}

#navigation {
    display: flex;
}