#card {
    display: flex;
    justify-content: center;
}

.login {
    padding: 30px;
    background-color: rgba(113,166,160,255);
    border-radius: 12px;
    margin-top: 50px;
}

#logo {
    display: flex;
    justify-content: center;
}