#app {
    height: 100%;
}

#main {
    display: grid;
    grid-template-rows: auto;
}

#header {
    height: 120px;
    background-color: rgba(113,166,160,255);
}

#body {
    height: 100%;
    background-color: rgb(35, 90, 72);
}